
.invoice{
    width: 100%;
}   

 
 .invoice .title{
    height: 10%;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
 .invoice .the-invoice h4{
   
    padding: 15px 0;
    margin: 0 15px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
 .invoice .the-invoice .pordr{
    border-bottom: solid 1px var(--border-color);
}
 .invoice .the-invoice .button{
    width: 100%;
    text-align: center;
}
 .invoice .the-invoice .button button{
    height: 35px;
    font-size: 15px;
    width: 90%;
    margin: 20px 10px 10px 10px;
    font-weight:bold;
    color: var(--white-color);
    background-color: var(--min-color);
    cursor: pointer;
    transition: 0.3s;
}
 .invoice .the-invoice .button button:hover{
    transform: scale(1.1);
}

