
.header-two {
    background-color:var(--white-color);
    padding: 7px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header-two .logo{
    display: flex;
    align-items: center;
    width: 130px;
    height: 40px;
}
/* .pg-cart .cart{
 position: fixed;
 top: 15px;
 right: 200px;
 z-index: 1100;
} */
 /*sersh*/
 .pg-search .no-data-text{
    height: calc(100vh - 514px);
    padding: 10px;
    
 }
 /*sersh*/