/* search*/
.search{
    position: relative;
    
  }
  .suggestions{
   position: absolute;
   background-color: var(--white-color); 
   width: 93%;
   margin-right: 50px;
   list-style: none;
   margin-top: 7px;
   padding: 5px;
   box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
 z-index: 10000;

  }
  .suggestions li{
    padding: 3px;
    margin: 3px;
    color: var(--text-color-2);
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .suggestions li:last-child{
    border: none;
  }

  /* search*/