.pg-apoutus , .Privacypolicy , .return , .ShippingDelivery , .Temsconditions , .Termsofuse{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1;
  }
.title-bedg{
    margin: 30px 0;
    text-align: center;
}
.content {
    text-align: start;
    font-size: 17px;
    margin: 20px 0 40px 0;
   
}
