.componnt-visa {
    margin: 10px 15px;
}
.componnt-visa .visa p{
    color: var(--text-color-1);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;

}
.componnt-visa .visa button{
    width: 60px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    box-shadow: var(--bottms-color) 2px 2px;
    cursor: pointer;

}
.componnt-visa .visa button:hover{
    box-shadow: var(--min-color) 2px 2px;
}


