


.pg-like{
    min-height: 100vh;   /* تملى الشاشة لو المحتوى قليل */
    background-color:var( --min-pg2);
    display: flex;
    flex-direction: column;
   
}
.all-like{
    flex: 1;
    margin-bottom: 100px;
}
.pg-like .like .title{
    color: var(--text-color-1);
    text-align: center;
    margin: 10px;

}
.fivrt-prudact .empty-state{
   text-align: center;
   margin: 50px;
}
.fivrt-prudact .empty-state img{
    width: 250px;
   
    
}
.fivrt-prudact .empty-state p{
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-state .btn-shop-now{
    background-color: var(--min-color);
    width: 140px;
    height: 32px;
    color: var(--white-color);
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    transition:transform 320ms ease;

}
.empty-state .btn-shop-now:hover{
    transform: scale(1.1);
}
